<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438524885554-70utjosf8vpmn02la2pvhe5g4ld0aoer.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438524885554-70utjosf8vpmn02la2pvhe5g4ld0aoer</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>438524885554-22gjfq85gqjkglb9odqp1c4ul4ndpf8t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABNz-zXkMtGvH1tpWyqJ6oAals5jpgOs0</string>
	<key>GCM_SENDER_ID</key>
	<string>438524885554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iqonic.provider</string>
	<key>PROJECT_ID</key>
	<string>bookingsystem-3be5c</string>
	<key>STORAGE_BUCKET</key>
	<string>bookingsystem-3be5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:438524885554:ios:dda6ca84dc146b384f9a2b</string>
</dict>
</plist>
